#nomeprof{
	color: darkblue;
	margin-top: 2px;
	margin-bottom: 2px;
}

#flex-container{
	display: inline-flex;
	justify-content: start;
}

.link{
	color: darkblue;
	font-weight: bold;
	text-decoration: none;
}

.link:hover{
	background-color: rgb(243,243,146);
	text-decoration: underline;
}

#bloccosx{
	width: 350px;
	margin-left: 40px;
}

#line{
	border-top: 0.1px solid darkblue;
	border-bottom: 0.1px solid darkblue;
	margin-top: 2px;
}

body{
	font-family: helvetica;
}

#bloccodx{
	margin-top: 10px;
	margin-left: 40px;
	background-color: lightgrey;
	border: 0.1px solid darkblue;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 40px;
}

.titolodx{
	background-color: rgb(11,122,115);
	color: white;
	padding: 2px;
	padding-left: 10px;
}

#last{
	margin-top: 100px;
	margin-left: 200px;
	margin-right: 200px;
}

.lastul{
	list-style-type: square;
}

.titolo{
	font-size: 60px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

#red{
	color: red;
	font-size: 25px;
}

.link2{
	color: black;
}

#ricevimento{
	color: white;
	background-color: rgb(202, 66, 59);
	padding: 30px;
}

.redhr{
	border: 7px solid red;
}

.titlink{
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	color: black;
}
